body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    position: sticky;
    top:0px;
    grid-column: 1/3 ;
    display: flex;
    background-image: url("./img/header-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    z-index: 2;
}
header .head{
    width: 25vw;
    display: flex;
    gap: 30px;
    margin-left: 2rem;
}
header span{
    background-color: white;
    width: 60px;
    height: 50px;
    margin: 1rem 0 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
header .head p{
    font-size: 30px;
    font-weight: bolder;
    background: linear-gradient(90deg, #f7c5a3, #d98ae6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
header h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: aliceblue;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;

}
header nav ul{
    display: flex;
    list-style-type: none;
}
header nav ul li{
    min-width: 10vw;
    min-height: 5.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header #dropdown{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    padding: 0;
    margin-top: 7.5rem;
    background-color: white;
    border-radius: 5px;
}header #dropdown li{
    width: 7vw;
    height: 6vh;
    transition: transform;
    transition-timing-function: ease;
    transition-duration: 1s;
    display: none;
    border-radius: 5px;
    border-bottom: 1px solid rgb(235, 232, 232);
}
header #dropdown a{
    color: black;
    font-size: clamp(0.5em, 2.5vw, 0.8em);
}
header .dropdown:hover #dropdown li{
    display: flex;
}
header #dropdown li:hover{
    transform: translateX(6px);
}
header nav ul a{
    text-decoration: none;
    color:white;
    font-size: clamp(0.8em, 1.5vw, 0.9em);
    outline: none;
}
header #nav{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
#title{
    grid-column: 1/3 ;
    padding-top: 5rem;
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    inset: 0;
}
#title .title{
    width:500px;
}
#title span{
    font-size: 1.4em;
    color: rgb(93, 93, 93);
}
#title p{
    font-size: clamp(2.5rem, 5.9vw, 3.8rem);
    color: rgb(10, 10, 10);
    font-weight: bold;   
}
#title img{
    width: 350px;
    height: 420px;
    background-image: url("./img/banner-right-dec.png");
    background-position:top;
    background-size: 100%;
    background-repeat: no-repeat;
}
#title input{
    font-size: 13px;
    padding: 0.7rem;
    border: none;
    color: white;
    border-radius: 5px;
    background: linear-gradient(90deg, #f7c5a3, #d98ae6);
    outline: none;
}
#service{
    grid-column: 1/3;
    width: 85%;
    margin: auto;
    inset: 0;
    padding-top: 5rem;
}
::-webkit-scrollbar{
    display: none;
}
#service h2{
    text-align: center;
    font-size: 2rem;

}
#service .head{
    font-size: 1.4rem;
    text-align: center;
    color: rgb(93, 93, 93);
}
#container{
    display: flex;
    padding-top: 4rem;
    column-gap: 3rem;
    overflow-x: scroll;
    outline: none;
    scroll-snap-type: x mandatory;
}
#service .course{
    display: flex;
    column-gap: 3rem;
    margin: 0 1rem 1rem 1rem;
    scroll-snap-align: start;
}

#service .scroll-group ul{
    display: flex;
    justify-content: center;
    gap: .9em;
    flex-direction: row;
    cursor: pointer;
    list-style-type: none;
}
#service .scroll-group a{
    background-color: rgb(210, 209, 209);
    border-radius: 50%;
    color: rgb(210, 209, 209);
}
#service .course div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 12rem;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
}
#service .course div:hover{
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
}
#service .course div span{
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 1.7rem;
}
#service .course p{
    color:rgb(93, 93, 93);
    line-height: 1.7rem;
}
#service .course img{
    width: 90px;
    margin-bottom: 1rem;
}
#tech{
    grid-column: 1/3;
    width: 85%;
    margin: auto;
    inset: 0;
    padding-top: 5rem;
}
#tech h2{
    text-align: center;
    font-size: 2rem;
}
#tech .head{
    font-size: 1.4rem;
    text-align: center;
    color: rgb(93, 93, 93);
}
#tech #group{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    gap: 4rem;
}
#tech #group .list{
    width: 24vw;
    height: 70vh;
    margin: auto;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0;
    flex-direction: column;
}
#tech #group .list a:active{
    background-color: rgb(206, 207, 206);
    color: white;
    border:2px solid rgb(206, 207, 206) ;
}
#tech #group .list a{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    font-size: clamp(1rem, 2vw, 1.2rem);
    text-align: center;
    font-weight: bold;
    color: black;
    height: 10vh;
    border: 2px solid violet;
    border-radius: 5px;
}
#tech #group .box_group{
    display: flex;
    width: 54vw;
    height: 80vh;
    gap: 1rem;
    overflow: hidden;
    scroll-snap-type: x mandatory;
}
#tech #group .box_group .container{
    display: flex;
    min-width: 52vw;
    gap: 1rem;
    box-shadow: 2px 2px 2px 2px gray;
    margin: 2rem;
    border-radius: 10px;
    scroll-snap-align: start;
}
#tech #group .box_group .container .content{
    display: flex;
    width: 60vw;
    flex-direction: column;
    justify-content: space-between;
    padding-top: .2rem;
}
#tech #group .box_group .container .content p{
    font-size: clamp(.8em, 1.4vw, 1em);
    line-height: 1.3;
    color: rgb(70, 70, 70);
}
#tech #group .box_group .container .content h3{
    font-size: clamp(1em, 1.9vw, 1.5em);
}
#tech #group .box_group .container .content span,a{
    font-size: clamp(.9em, 1.6vw, 1em);
}
#tech #group .box_group .img{
    display: flex;
    align-items: end;
}
#tech #group .box_group img{
    height: 65vh;
    width: 20vw;
    display: flex;
    flex-grow: 1;
    border-radius: 0 0 0 10px;
}
#sale{
    grid-column: 1/3;
    min-width: 100%;
    min-height: 100vh;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-image: url("./img/cta-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#sale .combo .empty{
    min-width: 30vw;
    height: 60vh;
    position: absolute;
    z-index: -1;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: white;
}
#sale .sale{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 40%;
    text-align: center;
    align-items: center;
}
#sale .sale a{
    width: 160px;
    height: 50px;
    font-size: .8rem;
    color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
}
#sale .sale a:hover{
    background-color: grey;
    color: white;
}
#sale .combo{
    width: 40vw;
    height: 70vh;
}
#sale p{
    font-size: clamp(.8rem, 4.4vw, 1.5rem) ;
    color: white;
}
#sale span{
    font-size: clamp(2rem, 6vw, 3rem);
    font-weight: bold;
    line-height: 1.5;
    color: white;
}
#sale .combo img{
    width: 30vw;
    height: 60vh;
    border-radius: 10px;
    padding-left: 2rem;
}
#testimonials{
    grid-column: 1/3;
    width: 90%;
    height: 90vh;
    text-align: center;
    margin: auto;
    inset: 0;
}
#testimonials .head p{
    font-size: clamp(1rem, 2vw, 3.8rem);
    color: gray;
    text-transform: uppercase;
}
#testimonials .head h2{
    font-size: clamp(1.5rem,2.7vw, 3.8rem);
}
#testimonials_container{
    display: flex;
    margin-top: 5rem;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 5em;
    scroll-snap-type: x mandatory;
}
#testimonials .testimonials{
    display: flex;
    justify-content: center;
    min-width: 100%;
    height: 50vh;
    margin: 0  2rem 0 2rem;
    scroll-snap-align: center;
    gap: 2rem;
}
#testimonials .testimonials div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    text-align: start;
    width: 25%;
    height: 40vh;
    border-radius: 5px;
    margin: auto;
    inset: 0;
    flex-shrink: 1;
}#testimonials .testimonials div:hover{
    box-shadow: 2px 2px 2px 2px grey;
}
#testimonials .testimonials div p{
    color: rgb(91, 90, 90);
    font-size: clamp(0.5rem,1.5vw,1rem);
    line-height: 1.5;
}
#testimonials .testimonials div h3{
    font-size: clamp(1rem,2.6vw,1.5rem);
    margin: 0;padding-bottom: .2rem;
}
#testimonials .testimonials div span{
    color:violet;
    font-weight: bold;
    font-size: clamp(.5rem,2vw,1rem);
}
footer{
    display: flex;
    grid-column: 1 /3;
    width: 100%;
    height: 150vh;
    flex-direction: column;
    margin-top: 10rem;
    background-image: url("../Eduwell/img/footer-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
footer .main{
 display: flex;
 width: 90%;
 height: 80%;
 justify-content: center;
}
footer iframe{
    border-radius: 10px;
    width: 60vw;
    height: 80vh;
}
footer .map .group1{
    height: 100vh;
    width: 60vw;
    position: absolute;
    z-index: -1;
}
footer .map .group2{
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50vw;
    height: 70%;
}
footer .map .group2 .group{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 40%;
    height: 15%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px grey;
}
footer .map .group2 div h3{
    margin: auto;
    inset: 0;
    font-weight: bold;
    font-size: clamp(.5em, 1.9vw, 1.3em);
}
footer .map .group2 div p{
    margin: auto;
    inset: 0;
    color: violet;
    font-weight: bold;
    font-size: clamp(.5em, 1.3vw, 1em);
}
footer .map .group2 div i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(90deg, #f7c5a3, #d98ae6);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
footer .form{
    display: flex;
    flex-direction: column;
    height: 75%;
    align-items: center;
    margin-top: 6rem;
    background-color: white;
    border-radius: 10px;
    min-width: 30vw;
    box-shadow: 2px 2px 2px 2px grey;
}
footer .form .field input{
    height: 7vh;
    width: 96%;
    border: 2px solid gray;
    margin-top: 1rem;
    background-color: rgb(228, 237, 243);
    border-radius: 5px;
}
footer form #btnn{
    min-width: 12vw;
    height: 7vh;
    border: none;
    border-radius: 5px;
    color: white;
    background: linear-gradient(90deg, #f7c5a3, #d98ae6);
    cursor: pointer;
    float: right;
}
form .field span{
    position: absolute;
    visibility: hidden;
}
.form .field small{
    visibility: hidden;
    color: red;
    font-size: .7rem;
    margin: auto;
    inset: 0;
}
.field.success span.success{
    color: #2ecc71;
    visibility: visible;
}
.field.error span.error{
    color: #e74c3c;
    visibility: visible;
}
.field.success span.error{
    visibility: none;
}
.field.error small{
    visibility: visible;
    color: #e74c3c;
}
footer .form p{
    color: gray;
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(1em, 1.3vw, 2em);
}
footer .form h3{
    text-align: center;
    font-weight: bold;
    font-size: clamp(1.9em, 1vw, 2.2em);
    margin: 0;
}
footer .form .field{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-top: 1rem;
    width: 25vw;
    height: 12vh;
}
footer .icons{
    width: 100%;
    text-align: center;
}
footer .icons div{ 
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
    inset: 0;
    padding-bottom: 2rem;
}
footer .icons div i{
    width: 50px;
    font-size: clamp(.5rem, 2.4vw, 1.2rem);
    height: 50px;display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: violet;
    background-color: white;
}
@media(max-width: 750px){
    body{
        overflow-x: hidden;
    }
    header .head{
        width: 50vw;
    }
    header #nav{
        display: block;
    }
    header #main{
        position: absolute;
        flex-direction: column;
        top: 65px;
        background-color: rgb(241, 240, 240);
        font-size: 1rem;
        width: 80%;
        left: 7%;
        text-align: center;
        display: none;
    }
    header #main li{
        margin: 0.7rem;
        border-bottom: 1px solid rgb(220, 218, 218);
    }
    header #main a:hover{
        color: #d98ae6;
    }
    header #main :last-child{
        border: none;
    }
    header #main a{
        color: black;
    }
    header #main.active{
        display: flex;
    }
    header .dropdown:hover{
        padding-bottom: 180px;
    }
    header  #dropdown li{
        width: 140px;
        border: none;
    }
    header #dropdown li:hover{
        transform: none;
    }
    header .dropdown:hover #dropdown{
        display: flex;
        background-color: rgb(241, 240, 240);
        margin-top: 200px;
    }
    #title{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 3rem;
    }
    #title p{
    font-size:3.2em;
    }
    #container{
        scroll-snap-type: x mandatory;
    }
    #container .course div{
        scroll-snap-align: start;
    }
    #service .scroll-group a{
        display: none;
    }
    #tech #group{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    #tech #group .box_group{
        width: 100%;
    }
    #tech #group .box_group .container{
        min-width: 99%;
    }
    #tech #group .box_group .container .content{
        width: 60%;
    }
    #tech #group .box_group .container .img{
        width: 40%;
    }
    #sale{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        min-height: 250vh;
        padding: 5rem;
    }
    #sale .combo .empty{
        width: 70%;
    }
    #sale .combo img{
        width: 70vw;
    }
    #sale .sale{
        width: 80%;
    }
    footer{
        flex-direction: column;
        grid-column: 1/3;
        padding-top: 3rem;
        height: 260vh;
        align-items: center;
        row-gap: 4rem;
    }
    footer .main{
    display: flex;
    flex-direction: column;

    width: 90%;
    height: 80%;
    justify-content: center;
    row-gap: 3rem;
    }
    footer .main .group1{
        height: 100vh;
        width: 80vw;
        position: absolute;
        z-index: -1;
    }
    footer .group1 iframe{
        width: 100%;
    }
    footer .group2{
    min-width: 80vw;
    min-height: 85vh;
}
footer .map .group2 .group{
    width: 25vw;
}
footer .form{
    width: 80%;
    margin: 0;
    height: 45%;
}
footer .form .field{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 60vw;
}
footer .form .field input{
    width: 96%;
}
footer .form .field #btnn{
    width: 80%;
}
}
